.hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../images/hero-img-for-phone.jpg);
  background-color: #2F303A;
  max-width: 1600px;
  height: 100%;
  margin: auto auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../images/hero-background-img.jpg);
  }
  @media (min-devise-pixel-retio: 2 ), 
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../images/hero-background-img@2x.jpg);
  }
  // @media (min-width:  768px) {
  //   background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../images/hero-background-img.jpg);
  //   width: 100%;
  //   height: 400px;
  // }


  &__title{
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    max-width: 360px;
    text-transform: uppercase;
    color: var(--color-white);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;

    @media (min-width: 481px) {
      font-size: 44px;
      max-width: 696px;
      line-height: 1.36;
    }
  }
}

